<%= form_with url: movies_path, local: true, method: :get, class: "form" do |f| %>
  <div class="keyword">
    <%= f.text_field :keyword, class: "input", value: params[:keyword], placeholder: "キーワードを検索する" %>
    <%= f.submit "検索", class: "save_btn" %>
  </div>
  <div class="radio_show">
    <div>
      <%= f.label :is_show_type, "全て" %>
      <%= f.radio_button :is_show_type, "ALL", checked: params[:is_show_type] === "All" || params[:is_show_type].nil? %>
    </div>
    <div>
      <%= f.label :is_show_type, "公開" %>
      <%= f.radio_button :is_show_type, 1, checked: params[:is_show_type] === "1" %>
    </div>
    <div>
      <%= f.label :is_show_type, "非公開" %>
      <%= f.radio_button :is_show_type, 0, checked: params[:is_show_type] === "0" %>
    </div>
  </div>
<% end %>
<div class="card-group">
  <% @movies.each do |movie| %>
    <div class="card">
      <div>
        <%= image_tag(movie.image_url) %>
      </div>
      <div class="card__textbox">
        <div class="card__titletext">
          <%= movie.name %>
        </div>
        <div class="card__overviewtext">
          <%= movie.year %>年公開
        </div>
        <div class="card__overviewtext">
          <%= movie.description %>
        </div>
      </div>
    </div>
  <% end %>
</div>