<div class="">
  <div class="half_grid">
    <div>
      <%= image_tag @movie.image_url, class: "image" %>
    </div>
    <div class="content_movie">
      <div class="flex background_gray">
        <p class="is_show_button"><%= (@movie.is_showing) ? "公開中" : "未公開" %></p>
        <h1><%= @movie.name %></h1>
      </div>
      <p class="background_gray year_field"><%= @movie.year %></p>
      <p class="background_gray description"><%= @movie.description %></p>
    </div>
  </div>

  <div class="schedule_title">
    <p>上映スケジュール</p>
  </div>
  <% if @schedules.length != 0 %>
    <% @schedules.each do |schedule| %>
      <p class="schedule_content"><%= schedule.start_time.strftime("%Y年%m月%d日%H:%M") %>
        - <%= schedule.end_time.strftime("%H:%M") %></p>
    <% end %>
  <% end %>

  <% if @a_week_target_schedule.length != 0 %>
    <select name="" id="">
      <% @a_week_target_schedule.each do |schedule| %>
        <option value=""><%= schedule.start_time.strftime("%Y年%m月%d日") %></option>
      <% end %>
    </select>
  <% end %>

  <% if @a_week_target_schedule.length != 0 %>
    <select name="" id="">
      <% @a_week_target_schedule.each do |schedule| %>
        <option value=""><%= schedule.start_time.strftime("%H:%M") %>
          -  <%= schedule.end_time.strftime("%H:%M") %></option>
      <% end %>
    </select>
  <% end %>
</div>