<div class="">
  <div class="half_grid">
    <div>
      <%= image_tag @movie.image_url, class: "image" %>
    </div>
    <div class="content_movie">
      <div class="flex background_gray">
        <p class="is_show_button"><%= (@movie.is_showing) ? "公開中" : "未公開" %></p>
        <h1><%= @movie.name %></h1>
      </div>
      <p class="background_gray year_field"><%= @movie.year %></p>
      <p class="background_gray description"><%= @movie.description %></p>
    </div>
  </div>

  <div class="schedule_title">
    <p>上映スケジュール</p>
  </div>
  <% if @schedules.length != 0 %>
    <% @schedules.each do |schedule| %>
      <p class="schedule_content"><%= schedule.start_time.strftime("%Y年%m月%d日%H:%M") %>
        - <%= schedule.end_time.strftime("%H:%M") %></p>
    <% end %>
  <% end %>

  <div class="sheet_reservation">
    <%= form_with url: movie_reservation_index_path(@movie.id), local: true, method: :get, class: "form" do |f| %>
      <% if @a_week_target_schedule.length != 0 %>
        <% select_date = @a_week_target_schedule.map do |schedule|
          schedule.start_time.strftime("%Y年%m月%d日")
        end %>
        <%= f.select :date, select_date %>
        <% select_time = @a_week_target_schedule.map do |schedule|
          "#{schedule.start_time.strftime("%H:%M")} - #{schedule.end_time.strftime("%H:%M")}"
        end %>
        <%= f.select :date, select_time %>
        <%= f.submit "座席を予約する", class: "save_btn" %>
      <% end %>
    <% end %>
  </div>
</div>