<h1 class="screen_title">スクリーン１</h1>

<table class="screen_table">
  <thead>
  <tr>
    <th></th>
    <% 5.times do |n| %>
      <th><%= n + 1 %></th>
    <% end %>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @sheets.each.with_index(1) do |sheet, n| %>
    <% if n % 5 === 1 %>
      <tr>
        <th><%= sheet.row.upcase %></th>
    <% end %>
    <td class="sheet"><%= sheet.row %>-<%= sheet.column %></td>
    <% if n % 5 === 0 %>
      <th><%= sheet.row.upcase %></th>
      </tr>
    <% end %>
  <% end %>
  </table>