<%= render 'admin/schedules/header' %>
<div class="admin__layout">
  <%= render 'admin/schedules/side' %>
  <div class="content">
    <h1>上映一覧</h1>
    <% flash.each do |message_type, message| %>
      <%= message %>
    <% end %>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>映画名</th>
        <th>開始時刻</th>
        <th>終了時刻</th>
        <th>作成日時</th>
        <th>更新日時</th>
      </tr>
      <thead/>
      <tbody>
      <% @schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.id %></td>
          <td><%= link_to(schedule.movie.name, admin_schedule_path(schedule.id)) %></td>
          <td><%= schedule.start_time.strftime("%Y年%m月%d日%H:%M") %></td>
          <td><%= schedule.end_time.strftime("%Y年%m月%d日%H:%M") %></td>
          <td><%= schedule.created_at.strftime("%Y年%m月%d日%H:%M") %></td>
          <td><%= schedule.updated_at.strftime("%Y年%m月%d日%H:%M") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
